.App {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    color: #333;
  }
  
  button {
    background-color: #a895e0;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #8135bb;
  }
  
  button:focus {
    outline: none;
  }
  
  div.options-container {
    margin-top: 20px;
  }
  
  .score {
    font-size: 20px;
    color: #28a745;
  }
  
  .game-over {
    color: #dc3545;
  }
  